h1 {
font-family: 'Courier New', monospace;
font-size: 40px;
color: #333333;
letter-spacing: 2px;
text-transform: uppercase;
}

body {
background-color: gray;
}

p {
font-family: 'Courier New', monospace;
