body {
    background-color: gray;
}

h1 {
    font-family: 'Courier New', monospace;
    font-size: 40px;
    color: #333333;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-family: 'Courier New', monospace;
}

.content {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.left img {
    width: 100px;
    border-radius: 10px;
}

.right {
    max-width: 400px;
    margin-left: 200px;
}
